.headerContainer {
  background-image: url("../../assets/images/Restaurant-Instagram-Photography.png");
  min-height: 500px;
}
.ownRecipebg {
  background-image: url("../../assets/images/ownPage.jpg");
}
