.nooResultContainer {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  padding-top: 200px;
  text-align: center;
  margin-bottom: 10px;
  background-image: url("../../assets/images/noResult.jpg");
  background-repeat: no-repeat;
}
